.wrapper {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  padding: 5px;
  top: 0;
  left: 0;
}
.content {
  height: 100%;
  width: 1200px;
  display: flex;
}
.logo-text {
  align-content: center;
  font-size: 3rem;
}
