.wrapper {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  + .wrapper {
    &::before {
      content: '';
      width: 1px;
      height: 15px;
      background-color: var(--light);
    }
  }
}
.primary {
  background-color: var(--primary);
  color: var(--light);
  &:hover {
    color: var(--text-color);
  }
}
.font-light {
  color: var(--light);
}
.notVisible {
  display: none;
}
