.wrapper {
  font-size: 1.5rem;
  display: flex;

  margin-left: 5px;
}
.primary {
  background-color: var(--primary);
  color: var(--light);
  &:hover {
    color: var(--text-color);
  }
}
.font-light {
  color: var(--light);
}

.notVisible {
  display: none;
}
.user-action {
  width: 25px;
  height: 25px;
  align-items: center;
  text-align: center;
  border-radius: 92px;
  svg {
    cursor: pointer;
    width: 60%;
    height: 60%;
  }
}
.underline {
  :hover {
    text-decoration: underline;
    color: var(--light);
  }
}
