@import 'normalize.css';
@import url('https://kit.fontawesome.com/4a0aebdf59.js');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: Helvetica Neue, ui-sans-serif, system-ui, sans-serif;
  --primary: coral;
  --dark: #1a1919;
  --light: #fff;
  --text-color: #333;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  cursor: pointer;
  outline: none;
  border: none;
}
a[href] {
  color: var(--dark);
  text-decoration: none;
}
//Fonts embeded
@font-face {
  font-family: Helvetica Neue;
  src: url('/assets/fonts/vietnamese-regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: Helvetica Neue;
  src: url('/assets/fonts/vietnamese-regular.woff2');
  font-weight: 500;
}
@font-face {
  font-family: Helvetica Neue;
  src: url('/assets/fonts/vietnamese-regular.woff2');
  font-weight: 700;
}
