@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://kit.fontawesome.com/4a0aebdf59.js');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: coral;
  --dark: #1a1919;
  --light: #fff;
  --text-color: #333;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  font-family: FormaDJRText, ui-sans-serif, system-ui, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  cursor: pointer;
  outline: none;
  border: none;
}
a[href] {
  text-decoration: none;
  color: var(--text-color);
}
