@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

:root {
}

html {
}

body {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  //   font-weight: <weight>;
  font-style: normal;
}
